[package]
name = 'bitcoin'
version = '0.1.0'
authors = ['Interlay Ltd <dominik@interlay.io>']
edition = '2018'

[features]
default = ['std']
std = [
	'codec/std',
	'primitive-types/std',
	'primitive-types/serde',
	'primitive-types/byteorder',
	'primitive-types/rustc-hex',
	'primitive-types/libc',
	'node-primitives/std',
]

[dependencies.codec]
default-features = false
features = ['derive']
package = 'parity-scale-codec'
version = '1.0.0'

[dependencies.primitive-types]
default-features = false
version = '0.6.2'
features= ['codec']

[dependencies.node-primitives]
default-features = false
version = '2.0.0'
git = 'https://github.com/paritytech/substrate.git'
rev = '3e651110aa06aa835790df63410a29676243fc54'

[dependencies.sp-std]
default-features = false
version = '2.0.0'
git = 'https://github.com/paritytech/substrate.git'
rev = '3e651110aa06aa835790df63410a29676243fc54'

[dependencies.indexmap]
default-features = false
version = '1.3.2'

[dependencies.twox-hash]
default-features = false
version = '1.5.0'


[dependencies.sha2]
default-features = false
version = "0.8.0"

[dependencies.sp-core]
default-features = false
git = 'https://github.com/paritytech/substrate.git'
rev = '3e651110aa06aa835790df63410a29676243fc54'
version = '2.0.0'

[dependencies.btc-core]
path = '../btc-core'

[dependencies.hex]
version = '0.4.0'

[dev-dependencies]
mocktopus = "0.7.0"
